{% extends "layout.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ block.super }} - New Project{% endblock %}

{% block body_content %}
  <!-- <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <a class="button button-primary" href="project.html">Save Project</a>
        <a class="button button-text" href="index.html">Discard</a>
      </div>
    </div>
  </div> -->

  <div class="bounds circle--page circle--article">
    <form id="projectForm" method="POST">
      {% csrf_token %}
      <div class="grid-70">
        <div class="circle--article--body">
          {% bootstrap_field form.title %}
          {% bootstrap_field form.description %}
        </div>

        <div class="circle--project--positions">
          <h2>Positions</h2>

          <ul class="circle--group--list circle--clone--list">
            <li>
              {% bootstrap_field form2.name %}
              {% bootstrap_field form2.description %}
              <a class="circle--clone--add">Add Position</a>
              <a class="circle--clone--remove">Remove</a>
            </li>
          </ul>
          <button form="projectForm" class="button button-primary" type="submit">Save Project</button>
          <a class="button button-text" href="{% url 'home' %}">Discard</a>
        </div>
      </div>

      <div class="grid-25 grid-push-5">

        <div class="circle--secondary--module">
          <h3>Project Timeline</h3>
          {% bootstrap_field form.time_estimate %}
        </div>

        <div class="circle--secondary--module">
          <h3>Applicant Requirements</h3>
          {% bootstrap_field form2.related_skill %}
        </div>

      </div>
    </form>
  </div>
{% endblock %}
